<%- include('header') -%>

<h1>A small, hand-made blog about the stuff I want to share about the stuff I make.</h1>

<p>Hello and welcome to my personal blogging space. I want to use this space to talk about my hobbies, projects and anything else I want to talk about.</p>

<p>This little website is one of these projects. One major point I wanted to emhpasize here is efficiency while using regular tools. The backend of the website is an Express application, using node.js. The rendering engine for the template is EJS, and the styling is made using pure CSS3 (I hate loading entire frameworks to use 1% of them).</p>

<p>Furthermore, every post is written in markdown before being uploaded to an SQLite database. The backend then uses the
    <a href="https://marked.js.org/">Marked package</a> to quickly and efficiently convert the markdown into safe HTML.</p>

<p>The last thing I needed was syntax highlighting for my code snippets. The best thing about Marked is that it integrates perfectly with <a href="https://prismjs.com/">prism.js</a>, a tiny library that allows for automatic syntax highligthing in HTML code blocks. You can even customise which language you need or don't need to make the package smaller !</p>

<p>That's about it for the home page. I hope you have fun reading my posts or learning about my projects. See you around & take care.</p>

<%- include('footer') -%>
