<%- include('../header') -%>

<h1>About my works & me</h1>

<p>Hello, and welcome to my small blog. I'm Dashou and this is my personal space to talk about my projets, and other stuff I might find interesting.</p>

<p>This website was born from the need to actually use the web to communicate and share information. The current state of social media disgusts me and I personnaly feel that these platforms have lost their intial goal.

<p>My main hobbies include programming, obscure operating systems, game developing, playing the guitar and going to the gym. Most of the posts you'll see here will be about these topics.</p>

<p>This blog is still under heavy construction. Please be patient with me. </p>

<%- include('../footer') -%>
