body {
        font-family: "Domine", serif;
        font-optical-sizing: auto;
        font-style: normal;
}

header {
        text-align: left;
        margin-bottom: 3em;
}

footer {
        text-align: center;
        margin-top: 5em;
        margin-bottom: 2em;
}

a {
        font-weight: bold;
        text-decoration: none;
}

.content {
        width: 50%;
        margin: 16pt auto;
}

.header-links {
        display: flex;
        justify-content: space-evenly;
}

.header-link {
        margin: 0em;
}

#posts {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 2em;
}

.post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 15em;
}

.post-title {
        font-size: 2em;
        margin-bottom: 1em;
}

.post-footer {
        margin-top: 2em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}

.post-readbtn {
        font-size: 16pt;
}

.post-date {
        display: flex;
        align-items: center;
}

.post-text {
    width: 60%;
}

.post-thumbnail {
    max-width: 30%;
    height: 15em;
}

.thumbnail-img {
    width: 100%;
    height: 100%;
}

@media (max-width: 900px) {
    .content {
        width: 70%;
    }

    .post {
        flex-direction: column;
        max-height: 100%;
    }

    .post-text {
        width: 100%;
        height: 60%;
        margin-right: 0;
        margin-bottom: 1em;
    }

    .post-thumbnail {
        height: 50%;
        width: 100%;
        max-height: 15em;
    }

    .thumbnail-img {
        height: 100%;
    }
}